.main_section {
    color: $raisin-black;

    p {
        font-family: $roboto;
        font-weight: $light;
    }

    h5 {
        font-size: $medium;    
        font-family: $playfair-display;
    }


}

.main_section-span-pink {
    color: $ruddy-pink;
}
